@charset "utf-8";
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.app-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.app-body {
  flex: 1;
  overflow: hidden;
}

.layout-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.layout-body {
  flex: 1;
  display: flex;
  overflow: auto;
}
