[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  vertical-align: bottom;
  display: inline-block;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
